<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FATEC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<link href = "static/bootstrap.css" rel = "stylesheet">

<body>
    <div class="alfa">
    <h1>Cadastrar Disciplina</h1>
    <form action="{{ url_for('rDisciplinaC.apiCadastrarDis') }}" method='POST'>
        <div class="form-group">
            <label>NOME</label><input type="String" name="nome"><br>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
        </div>
    </form>
    
    <button onclick="window.location.href='/telaCadastroDis'">Voltar</button>
</div>

</body>

</html>