<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Aluno</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="alfa">
    <h1>Cadastrar Funcionario</h1>

    <form action= "{{url_for('rFuncionarioC.apiCadastrarFunc') }}" method='POST'>
        <div class="form-group">
            <label>CPF</label><input type="text" name="cpf"><br>
            <label>NOME</label><input type="String" name="nome"><br>
            <label>LOGIN</label><input type="String" name="login"><br>
            <label>SENHA</label><input type="String" name="senha"><br>
            <input class="btn btn-primary" type="submit" value="Cadastrar">
        </div>
    </form>
    
    <button onclick="window.location.href='/telaCadastroFuncionarios'">Voltar</button>
</div>
</body>

</html>