<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="home">
    <h1>BEM-VINDO A FATEC</h1>
    <button onclick="window.location.href='/telaLoginAluno'">Aluno</button>
    <button onclick="window.location.href='/telaLoginFunc'">Funcionarios</button>
</div>
</body>
</html>