<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login Aluno</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="alfa">
        <h1>Login Aluno</h1>    
        <form action="{{ url_for('rAlunoC.ApiLoginAluno') }}" method="POST">
        <input placeholder="login" type="text" id="username" name="username" required><br><br>
        <input placeholder="senha" type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Entrar">
        <button onclick="window.location.href='/'">Voltar</button>

    </form>
</div>
{% if resposta %}
<script>
    alert("{{ resposta }}");
</script>
{% endif %}
    </body>
</html>