<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FATEC</title>
</head>
<link href = "static/bootstrap.css" rel = "stylesheet">

<body>
    <div class="alfa">
    <h1>Deletar Nota</h1>

    <form action="{{ url_for('rNotaC.apiDeletarNota') }}" method='POST'>
        <div class="form-group">
            <input placeholder="Id" type="text" name="id"><br>
            <input class="btn btn-primary" type="submit" value="Remover">
        </div>
    </form>
    
    <button onclick="window.location.href='/TelaCadastroNota'">Voltar</button>
</div>
</body>

</html>